<nav style="display: inline-block; width: 100%; background-color: grey;">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        {% for entry in site.data.navigation %}
        <li{{ current }} style="float:left;">
            <a href="{{ site.baseurl }}{{ entry.url }}"
            class="menu-item"
            >{% t navigation.{{entry.key}} %}</a>
            </li>
            {% endfor %}
        {% for entry in site.languages %}
        <li{{ current }} style="float:right;">
            {% if entry == "en" %}
            <a href="{{ site.baseurl_root }}{{ page.url }}"
            >
            <img src="{{ site.baseurl_root }}/assets/images/{{ entry }}.svg"
            class="menu-flag"
            />
        </a>
            {% else %}
            <a href="{{ site.baseurl_root }}/{{ entry }}{{ page.url }}"
            >
            <img src="{{ site.baseurl_root }}/assets/images/{{ entry }}.svg"
            class="menu-flag"
            />
        </a>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>