---
---

@import "{{ site.theme }}";

.menu-item {
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item:hover {
    color: blue;
    text-decoration: none;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("{{'/assets/images/Banner.JPG' | relative_url}}");
}

.project-name, .project-tagline {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}