---
---

@import "{{ site.theme }}";

.generic-menu-item {
    display:block;
    text-align: center;
}

.menu-item {
    @extend .generic-menu-item;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item:hover {
    color: blue;
    text-decoration: none;
}

.menu-flag {
    padding: 5px;
    height: 3em;
    width: 3em;
}

.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("{{site.baseurl_root}}/assets/images/Banner.JPG");
}

.project-name, .project-tagline {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}